<div class="perfil-container">
    <div id="github-profile">
        <img id="github-avatar" alt="Foto de Perfil do GitHub" width="150" height="150" style="border-radius: 50%;">
    </div>

    <h5>Bem-vindo ao meu portfólio</h5>
    <p>
        Apaixonado pela tecnologia, possuo mais de 3 anos de experiência em desenvolvimento de software, com foco especial no ecossistema .NET.
        Formado em Técnico de Informática(2013), Ciência da Computação(2016), pós graduação em Rede e Computação Distribuída(2018) e pós Graduação em Engenharia de Software(2021).
    </p>
</div>
