<div class="projects">
    <h3>• Projetos GitHub</h3>

    <div class="imagem">
        <div class="card-imagem">
            <p>Empréstimo Windows Forms</p>
            <img class="imagem-projeto" src="~/Imagens/Projeto_emprestimo.png" alt="Empréstimo Windows Forms" />
            <p>Detalhes sobre sua primeira experiência profissional, como o cargo e as responsabilidades.</p>
            <button>Código Fonte</button>
        </div>

        <div class="card-imagem">
            <p>Empréstimo API</p>
            <img class="imagem-projeto" src="~/Imagens/Sem_foto.jpg" alt="Empréstimo Windows Forms" />
            <p>Detalhes sobre sua segunda experiência profissional, como o cargo e as responsabilidades.</p>
            <button>Código Fonte</button>
        </div>

        <div class="card-imagem">
            <p>Portfolio - ASP.Net MVC</p>
            <img class="imagem-projeto" src="~/Imagens/Projeto_portfolio.png" alt="Empréstimo Windows Forms" />
            <p>Detalhes sobre sua terceira experiência profissional, como o cargo e as responsabilidades.</p>
            <button>Código Fonte</button>
        </div>
    </div>
</div>
