<div class="tecnologia">
    <h3>• Tecnologias</h3>
    <div class="scroll">
        <div class="scroll__container">
            <div class="scroll__item">
                <i class="devicon-html5-plain-wordmark colored"></i>
            </div>
            <div class="scroll__item">
                <i class="devicon-css3-plain-wordmark colored"></i>
            </div>
            <div class="scroll__item">
                <i class="devicon-javascript-plain colored"></i>
            </div>
            <div class="scroll__item">
                <i class="devicon-csharp-plain-wordmark colored"></i>
            </div>
            <div class="scroll__item">
                <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
            </div>
            <div class="scroll__item">
                <i class="devicon-postgresql-plain-wordmark colored"></i>
            </div>
            <div class="scroll__item">
                <i class="devicon-dotnetcore-plain colored"></i>
            </div>
            <div class="scroll__item">
            <i class="devicon-visualbasic-plain colored"></i>
            </div>
            <div class="scroll__item">
                <i class="devicon-nodejs-plain colored"></i>
            </div>
        </div>
    </div>
</div>