<div class="experiencia">
    <h3>• Experiências</h3>
    <div class="container-card">
        <!-- Card 1 -->
        <div class="card">
            <h5>Assessor Municipal de Compras</h5>
            <h6>Prefeitura Municipal Poxoréu - <i>Mai 2018 - Fev de 2019</i></h6>

            <p>Principais responsabilidades:</p>
            <ul>
                <li> Compra de Peças de Veículo. </li>
                <li> Controle do estoque. </li>
                <li> Controle de Rotas dos Veículo. </li>
                <li> Cotação de peças. </li>
            </ul>
        </div>

        <div class="card">
            <h5>Assistente de suporte de TI</h5>
            <h6>Amazônia Sistemas Ltda - <i>Fev 2019 - Set de 2021</i></h6>

            <p>Principais responsabilidades:</p>
            <ul>
                <li>Suporte Técnico do ERP </li>
                <li>Treinamento do ERP</li>
                <li>Backup e Recuperação do banco de dados SQL </li>
                <li>Instalação e configuração SQL Server </li>
                <li>Instalação e configuração do sistema ERP </li>
                <li>Modificação de relatório personalizado </li>
            </ul>
        </div>

        <div class="card">
            <h5>Desenvolvedor Software</h5>
            <h6>Amazônia Sistemas Ltda - <i>Set de 2021</i></h6>

            <p>Principais responsabilidades:</p>
            <ul>
                <li>
                    Desenvolvimento e manutenção no ERP, na linguagem de programação C# e VB6,
                    melhorando a usabilidade e performance das aplicações.
                </li>
                <li>Responsável por converter informações entre diferentes bases de dados.</li>
                <li>Auxiliar ou tirar dúvidas de setores referente ao ERP. </li>
                <li>Auxiliar ou tirar dúvidas de setores referente ao ERP. </li>
            </ul>
        </div>
    </div>
</div>

@* <body>
    <div class="experiencia">
        <h3>• Experiências</h3>
        <div class="slider-container">
            <button class="prev-btn">❮</button>
            <div class="card-slider">
                <div class="card">
                    <h5>Assessor Municipal de Compras</h5>
                    <h6>Prefeitura Municipal Poxoréu - <i>Mai 2018 - Fev de 2019</i></h6>

                    <p>Principais responsabilidades:</p>
                    <ul>
                        <li> Compra de Peças de Veículo. </li>
                        <li> Controle do estoque. </li>
                        <li>  Controle de Rotas dos Veículo. </li>
                    </ul>
                </div>

                <div class="card">
                    <h5>Assistente de suporte de TI</h5>
                    <h6>Amazônia Sistemas Ltda - <i>Fev 2019 - Set de 2021</i></h6>

                    <p>Principais responsabilidades:</p>
                    <ul>
                        <li>Suporte Técnico </li>
                        <li>Treinamento </li>
                        <li>Backup e Recuperação </li>
                        <li>Modificação de relatório personalizado </li>
                    </ul>
                </div>

                <div class="card">
                    <h5>Desenvolvedor Software</h5>
                    <h6>Amazônia Sistemas Ltda - <i>Set de 2021</i></h6>

                    <p>Principais responsabilidades:</p>
                    <ul>
                        <li>
                            Desenvolvimento e manutenção no sistema ERP, na linguagem de programação C# e VB6,
                            melhorando a usabilidade e performance das aplicações. Criando tabelas
                        </li>
                        <li>Responsável pela conversão de informações de base de dados diferente.</li>
                        <li>Auxiliar ou tirar dúvidas de setores referente ao sistema. </li>
                    </ul>
                </div>
            </div>
            <button class="next-btn">❯</button>
        </div>
    </div>
    <script src="~/js/Cards.js"></script>
</body> *@


@* <body>
    <div class="experiencia">
        <h3>• Experiências</h3>
        <div class="slider-container">
            <div class="card-slider">
                <div class="card">
                    <h5>Assessor Municipal de Compras</h5>
                    <h6>Prefeitura Municipal Poxoréu - <i>Mai 2018 - Fev de 2019</i></h6>

                    Principais responsabilidades:
                    <ul>
                        <li> Compra de Peças de Veículo. </li>
                        <li> Controle do estoque. </li>
                        <li>  Controle de Rotas dos Veículo. </li>
                    </ul>
                </div>

                <div class="card">
                    <h5>Assistente de suporte de TI</h5>
                    <h6>Amazônia Sistemas Ltda - <i>Fev 2019 - Set de 2021</i></h6>

                    Principais responsabilidades:
                    <ul>
                        <li>Suporte Técnico </li>
                        <li>Treinamento </li>
                        <li>Backup e Recuperação </li>
                        <li>Modificação de relatório personalizado </li>
                    </ul>
                </div>

                <div class="card">
                    <h5>Desenvolvedor Software</h5>
                    <h6>Amazônia Sistemas Ltda - <i>Set de 2021</i></h6>

                    Principais responsabilidades:
                    <ul>
                        <li>
                            Desenvolvimento e manutenção de sistemas Windows Forms utilizando C# e VB6,
                            melhorando a usabilidade e performance das aplicações.
                        </li>
                        <li>Responsável pela conversão de informações de base de dados diferente.</li>
                        <li>Auxiliar ou tirar dúvidas de setores referente ao sistema. </li>
                    </ul>
                </div>
            </div>
            <button class="prev-btn">❮</button>
            <button class="next-btn">❯</button>
        </div>
        <script src="~/js/Cards.js"></script>
    </div>
</body> *@



@* <body class="body_experiencia">
    <div class="experiencia">
        <h3>• Experiência</h3>
        <selection class="cards">
            <div class="card">
                <h5>Assessor Municipal de Compras</h5>
                <h6>Prefeitura Municipal Poxoréu - <i>Mai 2018 - Fev de 2019</i></h6>

                Principais responsabilidades:
                <ul>
                    <li> Compra de Peças de Veículo. </li>
                    <li> Controle do estoque. </li>
                    <li>  Controle de Rotas dos Veículo. </li>
                </ul>
            </div>

            <div class="card">
                <h5>Assistente de suporte de TI</h5>
                <h6>Amazônia Sistemas Ltda - <i>Fev 2019 - Set de 2021</i></h6>

                Principais responsabilidades:
                <ul>
                    <li>Suporte Técnico </li>
                    <li>Treinamento </li>
                    <li>Backup e Recuperação </li>
                    <li>Modificação de relatório personalizado </li>
                </ul>
            </div>

            <div class="card">
                <h5>Desenvolvedor Software</h5>
                <h6>Amazônia Sistemas Ltda - <i>Set de 2021</i></h6>

                Principais responsabilidades:
                <ul>
                    <li>
                        Desenvolvimento e manutenção de sistemas Windows Forms utilizando C# e VB6,
                        melhorando a usabilidade e performance das aplicações.
                    </li>
                    <li>Responsável pela conversão de informações de base de dados diferente.</li>
                    <li>Auxiliar ou tirar dúvidas de setores referente ao sistema. </li>
                </ul>
            </div>
        </selection>
    </div>
</body> *@