<div class="projects">
    <h3>• Projetos GitHub</h3>

    <div class="imagem">
        <div class="card-imagem">
            <h6>Empréstimo de Livros (Windows Forms)</h6>
            <img class="imagem-projeto" src="~/Imagens/Projeto_emprestimo.png" alt="Empréstimo Windows Forms" />
            <p>Simular um empréstimo de livros com cadastros de clientes, livro e controle do empréstimo.</p>
            <a href="https://github.com/RafaAlvesDev/EmprestimoLivros.WindowsForms.git" target="_blank" class="button">Código Fonte</a>
        </div>

        <div class="card-imagem">
            <h6>Empréstimo de Livros (API)</h6>
            <img class="imagem-projeto" src="~/Imagens/Sem_foto.jpg" alt="Empréstimo Windows Forms" />
            <p> API que é um projeto de continuação do Empréstimo de livros, onde irá se feito a comunicação com Font-End.(Finalizando)</p>
            <a href="https://github.com/RafaAlvesDev/EmprestimoLivros.API.git" target="_blank" class="button">Código Fonte</a>
        </div>

        <div class="card-imagem">
            <h6>Portfolio - ASP.Net MVC</h6>
            <img class="imagem-projeto" src="~/Imagens/Projeto_portfolio.png" alt="Empréstimo Windows Forms" />
            <p>Detalhes sobre minha experiência profissional, como os cargos e as responsabilidades.</p>
            <a href="https://github.com/RafaAlvesDev/PortfolioMVC.git" target="_blank" class="button">Código Fonte</a>
        </div>
        <div class="card-imagem">
            <h6>Imersão Alura Back-End</h6>
            <img class="imagem-projeto" src="~/Imagens/Sem_foto.jpg" alt="Imersão Alura" />
            <p>Dominar uma das tecnologias mais populares no mercado e começar a construir aplicações conectadas a APIs na prática.</p>
            <a href="https://github.com/RafaAlvesDev/Imersao_Dev_Back-End.git" target="_blank" class="button">Código Fonte</a>
        </div>
    </div>
</div>
