@{
    ViewData["Title"] = "Contato";
}

<link rel="stylesheet" href="~/css/Contato.css" asp-append-version="true" />

<body>
    <form asp-controller="Portfolio" asp-action="Contato">
        <div class="formulario">
            <h2>Formulário de Contato</h2>

            <label>Nome:<sup style="color: red;">*</sup></label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required />

            <label>E-mail:<sup style="color: red;">*</sup></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required />

            <label>Mensagem:<sup style="color: red;">*</sup></label>
            <textarea class="form-control" id="mensaje" name="Mensagem" rows="4" required></textarea>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</body>