@{
    ViewData["Title"] = "Meu Portfólio";
}


<link rel="stylesheet" href="~/css/Protfolio.css" asp-append-version="true" />
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />


<body>
    <partial name="_Portfolio_Apresentacao" />
    <partial name="_Portfolio_Tecnologia" />
    <partial name="_Portfolio_Experiencia" />
    <partial name="_Portfolio_Projetos" />
    <partial name="_Rodape" /> 

    <script src="~/js/github-profile.js"></script>
    <script src="~/js/github.js"></script>
    <script src="~/js/Animacao.js"></script>
</body>
